/* style.css */

body {
    font-family: Verdana, "Geneva", Tahoma, helvetica, Arial, sans-serif;
}

h1 {
    background-color: hsl(187, 100%, 75%);
}

.nav {
    background-color: hsl(133, 100%, 75%);
    font-weight: bold;
}

.featimg {
    height: auto;
    width: 310px;
}

.container {
background-color: hsl(271, 76%, 75%);

}

.container.ingredients, .container.steps {
font-weight: 700;
color: #808080;
}




